doctype html
html(ng-app='bookshelff')
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/hamburger.css')
    link(rel='stylesheet', href='/stylesheets/uikit.min.css')
    link(rel='stylesheet', href='/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    
    
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/main.js')
    script(src='/angular/angular.js') 
    script(src='/angular/bookshelff.js')
    script(src='/javascripts/uikit.min.js')
    
  

  body 
    header
      //- a.hamburger.hamburger--spin.js-slide-panel.menu-open(onclick='toggle()', type='button')
      //-    span.hamburger-box
      //-      span.hamburger-inner
      #toggle.button_container
         
        span.top
        span.middle
        span.bottom
      #overlay.overlay
         nav.overlay-menu
            ul
               li
                  a(href='/') Home
               li
                  a(href='/about') About
               li
                  a(href='/resource') Bookshelff
               li
                  a(href='/users/login') Login
    
    if succes_msg
      .alert
        span.fa.fa-times-circle.closebtn(onclick="this.parentElement.style.display='none';")
        p!= success_msg

    block content
      

            
