extends layout

block content
  .register
      .login-form
          h1 Login
          hr
          form(action="", method='post', role='form')
              input(type='text', name='username', placeholder='Username', required='required')
              input(type='password', name='password', placeholder='Password', required='required')
              button.btn.btn-primary.btn-block.btn-large(type='submit') Lets Go
          h5 New User?
             span 
               a(href='/users/register') Sign Up.

          if message    
              hr   
              
                  
        
